In [2]:
import random
import pandas as pd
import os.path

n = 200
state = 1

path = os.path.join("podatki", "Kibergrad.csv")
data = pd.read_csv(path)

data.head(10)

   'TIP'  'CLANOV'  'OTROK'  'DOHODEK'  'CETRT'  'IZOBRAZBA'
0      1         2        0      43450        1           39
1      1         2        0      79000        1           40
2      1         2        0      51306        1           39
3      1         4        2      24850        1           41
4      1         4        2      65145        1           43
5      3         3        2      23015        1           40
6      3         2        1      26000        1           40
7      1         2        0      13112        1           39
8      3         3        2       5436        1           39
9      1         2        0     103524        1           45

In [5]:
children = data["'OTROK'"]
children.head(10)

sample = children.sample(n, random_state=state)

average = sample.mean()
print("Povprečje na vzorcu je", average)

Povprečje na vzorcu je 0.97