In [20]:
import random
import pandas as pd
import os.path
import math

n = 200
state = 1

path = os.path.join("podatki", "Kibergrad.csv")
data = pd.read_csv(path)

data.head(10)

   'TIP'  'CLANOV'  'OTROK'  'DOHODEK'  'CETRT'  'IZOBRAZBA'
0      1         2        0      43450        1           39
1      1         2        0      79000        1           40
2      1         2        0      51306        1           39
3      1         4        2      24850        1           41
4      1         4        2      65145        1           43
5      3         3        2      23015        1           40
6      3         2        1      26000        1           40
7      1         2        0      13112        1           39
8      3         3        2       5436        1           39
9      1         2        0     103524        1           45

In [9]:
children = data["'OTROK'"]
children.head(10)

0    0
1    0
2    0
3    2
4    2
5    2
6    1
7    0
8    2
9    0
Name: 'OTROK', dtype: int64

In [7]:
sample = children.sample(n, random_state=state)
sample

1113     0
42209    0
13426    1
30027    0
23987    3
        ..
42860    1
41188    2
31675    3
39317    0
20196    1
Name: 'OTROK', Length: 200, dtype: int64

In [15]:
avg = sample.mean()
print("Povprečje na vzorcu je", avg)

Povprečje na vzorcu je 0.97

In [16]:
avg2 = 0
for index, row in sample.items():
    avg2 += row
print(avg2/n)

0.97

In [24]:
N = children.size

SE2 = 0
for val in sample.items():
    SE2 += (val[1] - avg) ** 2
    print(val[1])
SE2 *= (N - n) / (n * (n - 1))
SE = math.sqrt(SE2)
print(SE)

0
0
1
0
3
0
1
0
1
2
0
1
2
0
3
0
0
2
0
1
0
0
2
2
1
1
0
2
0
0
2
0
0
3
0
1
5
2
2
0
0
0
0
3
0
1
1
0
0
0
1
2
0
0
1
0
0
0
0
2
1
0
2
0
0
0
3
1
2
0
1
0
1
0
0
0
2
0
1
0
0
0
1
0
3
0
2
0
2
0
0
2
0
2
0
2
3
2
0
1
1
0
1
3
0
4
0
0
0
2
1
1
1
1
1
0
3
1
4
1
0
2
0
0
0
1
1
1
2
0
0
1
2
1
2
0
1
2
1
2
0
2
0
3
0
0
0
0
0
1
2
0
3
0
0
3
2
2
0
0
2
2
2
0
0
3
0
1
0
0
3
1
3
1
0
0
1
0
1
0
2
0
0
1
0
2
2
2
1
2
3
2
0
2
1
1
2
3
0
1
16.08866178993626